<button onclick="likePage()" id="like_button" type="button">
    <i id="heart_id" class="fa fa-heart-o" style="font-size: 28px"></i>
</button>

<script>
    let like_button = document.getElementById("like_button");
    let heart_icon = document.getElementById("heart_id").className;
    let like_status=0;
    if(heart_icon == "fa fa-heart") {
        like_status=1;
    }

    function likePage() {
        console.log("like button clicked...")
        const post_title_heading = like_button.previousElementSibling.innerHTML.trim();
        if (like_status==0) {
            console.log("liking the page...")
            fetch("/like", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ like_this_blog: post_title_heading })
            });
            like_status=1;
            document.getElementById("heart_id").className = "fa fa-heart";
        }
        else if (like_status==1) {
            console.log("unliking the page...")
            fetch("/unlike", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ unlike_this_blog: post_title_heading })
            });
            like_status=0;
            document.getElementById("heart_id").className = "fa fa-heart-o";
        }



    };


</script>