
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
#signup, #login{
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: bold;
}
#signup{
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(80, 91, 193);
}
#signup:hover{
    border-bottom: 2px solid rgb(80, 193, 123);
}
#login{
    position: relative;
    right: 0px;

}
#profile_picture{
    background-color: rgb(34, 165, 65);
    padding: 10px;
    border-radius: 100%;
    z-index: 3;
}
#profile_picture:hover{
    background-color: rgba(34, 165, 65, 0.835);
}
#dp_button {
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.hide-element {
    display: none !important; 
}
#logoutBox{
    width: 300px;
    position: absolute;
    top:0px;
    right: 20px;
    background-color: rgb(238, 178, 178);
    z-index: 2;
    overflow: hidden;
    border-radius: 0px 0px 3px 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h5{
    font-size: larger;
}
#signout{
    border-width: 0px;
    background-color: rgb(32, 219, 32);
    width: 100px;
    height: 40px;
    position: relative;
    left: 60%;
    border:1px solid rgb(34, 165, 65);
    border-radius: 20px;
}

.footer-padding {
	padding-bottom: 60px;
}
.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.newBlogTitle {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 1.28;
    font-size: 50px;
}
.newBlogContent {
    font-family: Calibri;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}
#compose-button-panel {
    background-color: rgb(181, 181, 181);
    border-radius: 6px 6px 0px 0px;
}
#composeTitle {
    border-radius: 6px 6px 6px 6px;
}
#right-border{
    border-color:rgb(206, 206, 206);
    border-width: 0px 2px 0px 0px;
    margin: 3px;
    border-style: groove;
}
.compose-buttons {
    height: 30px;
    margin: 2px;
    border-width:0px;
    background-color: inherit;
}
#composeContent {
    border-radius: 0px 0px 6px 6px;
}
#like_button {
    border-width: 0px;
    background-color: inherit;
    padding: 0px;
    margin: 10px;
    position: relative;
    top:-6px;
}
@media (max-width: 400px) {
    .navbar-nav{
        display:none;
    }
}
@media (min-width: 760px) {
    #login{
        position: relative;
        right: 0px;
    }
    
}

@media (min-width: 1100px) {
    #login{
        position: relative;
        right: 0px;
    }

}